* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";

}

h1 h2 h3 h4 h5 h6 img {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif, "Montserrat";
  max-width: 100%;
}

.main-div {
  max-width: 100%;
  /* background-color: aqua; */
}

.banner {
  width: 100%;
  background-color: #000;
  margin: auto;

}

.banner-heading {
  font-family: "Montserrat";
  text-align: center;
  font-size: 120%;
  padding: 1.5% 0;
}

.banner-heading h1 {
  font-weight: 400 !important;
  font-size: 3.5vw;
  color: #fff;
}

.banner .banner-img {
  width: 100%;
  /* background-color: red; */
  /* padding: 0 3%; */
}

.banner-img img {
  max-width: 100%;
}

.banner-button {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #000;
  /* margin-block: 3%; */
  padding-top: 3%;
}

.banner-button button {
  font-family: "Montserrat";
  width: calc(85% / 4);
  padding: 1.4% 3%;
  margin-bottom: 3%;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  font-size: 1.2vw;
  background-color: #000;
  border: 2px solid #fff;
  transition: 0.5s ease-out;
  cursor: pointer;

}

.banner-button button:hover {
  background-color: #fff;
  color: #000;
  /* font-weight: 900 !important; */
}

.page1 {
  max-width: 100%;
  font-family: "Montserrat";
  /* background-color: red; */
  text-align: center;
}

.page1-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.col {
  width: calc(85% / 4);
  text-align: center;
  font-size: 1.35vw;
  padding-block: 3%;
}

.col h3 {
  margin-bottom: 4%;
}

.col-h2 {
  font-weight: bold;
}

.page1-2 {
  max-width: 100%;
  /* background-color: red; */
  font-family: "Montserrat";
}

.page1-2-inner {
  width: 100%;
  /* background-color: blue; */
  margin-inline: auto;
  padding-top: 3%;
  padding-bottom: 4.5%;

}

.page1-2-inner h2 {
  font-size: 3vw;
  font-weight: 500;
  letter-spacing: 0.1vw;
}

.page1-2 img {
  max-width: 55%;
}

.page1-2-inner p {
  /* width: 56%; */
  padding-inline: 22%;
  font-size: 1.2vw;
  margin-top: 4%;
  text-align: center;
}

.page2 {
  max-width: 100%;
  /* background-color: red; */
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
}

.page2 img {
  max-width: 100%;
}

.page2 button {
  position: absolute;
  background: transparent;
  color: #fff;
  font-size: 1.25vw;
  font-weight: 800;
  border: 2px solid #fff;
  padding: 2% 3.6%;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  transition: 0.2s ease-out;
  top: 16%;
}

.page2 button:hover {
  background-color: #fff;
  color: #000;
}

.page2 h2 {
  margin: 2% 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 3vw;
}

.page2 p {
  width: 48%;
  text-align: center;
  font-size: 1.2vw;
  margin-bottom: 2%;
  line-height: 1.3;
}

.page2-img2 {
  width: 55%;
  margin-bottom: 4%;
}

/* Page 3 start  */

.page3 {
  max-width: 100%;
  /* margin-inline: auto; */

  /* background-color: #fff; */
  margin-bottom: 2%;
  /* height: 5%; */
  /* background-color: red; */
  /* display: flex; */
  background-color: #f6f6f6;
}

.page3-1 {
  width: 100%;
  /* display: flex; 
    justify-content: space-between;
    flex-direction: column; */
  text-align: center;
  font-family: "Montserrat";

  /* padding-inline: 8%; */
  /* padding-block: 2%; */
}

.page3-1 h2 {
  font-size: 3vw;
  font-weight: 400;
  padding-top: 7%;
  padding-bottom: 2%;
}

.page3-1 p {
  /* width: 65.7%; */
  padding-inline: 20%;
  margin: auto;
  padding-bottom: 4%;
  font-size: 1.1vw;
  line-height: 1.5;
  /* background-color: red; */
}

.img-box {
  background-color: #fff;
  display: flex;
  margin-bottom: 3%;
}

.page3-2 {
  width: 96%;
  /* display: flex; */
  /* background-color: red; */
  margin-inline: auto;
}

.page3-2 img {
  width: 33%;
  /* height: 10%; */
}

.img-box {
  display: flex;
  flex-wrap: wrap;

}

.img-box h2 {
  font-family: "Montserrat";
  /* padding-top: 8%; */
  margin-block: auto;
  /* padding-inline: 5%; */
  padding-left: 2%;
  font-size: 1.9vw;
  line-height: 1.2;
}


.page4 {
  max-width: 100%;
  /* background-color: red; */
  text-align: center;
  margin-bottom: 2%;
}

.page4 h2 {
  padding-block: 4%;
  font-size: 3.5vw;
  font-weight: 400;
  font-family: "Montserrat";
}

.img-card {
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* flex-direction: row; */
}

.img-card img {
  max-width: 25%;
  transition: 0.2s ease-in;
  overflow: hidden;
}

.img-card img:hover {
  scale: 1.1;
}

.page4-1 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page4-1 img {
  max-width: 100%;
}

#page4-1-button {
  font-family: "Montserrat";
  text-transform: uppercase;
  position: absolute;
  /* right: 40%; */
  /* align-items: center; */
  /* top: 40%; */
  padding: 2% 5%;
  font-size: 1.4vw;
  font-weight: 900;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

#page4-1-button:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s ease-out;
}



.page5-box {
  max-width: 100%;
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  line-height: 1;
  font-family: "Montserrat";
  padding-bottom: 3%;
}

.page5-box .box {
  width: calc(91% / 3);

  background-color: #efefef;
  /* border: 2px solid black; */
  margin-top: 3%;
}

.box h5 {
  margin-top: 13%;
  margin-bottom: 6%;
  font-weight: 600;
  font-size: 1.3vw;
}

.box h3 {
  font-size: 1.8vw;
  font-weight: 600;
  line-height: 1.5;
}

.box h6 {
  padding: 0 15%;
  margin-top: 7%;
  margin-bottom: 6%;
  font-weight: 300 !important;
  line-height: 1.2;
  font-size: 1.2vw;
}

.page5 .page2 p {
  width: 80%;
}

.page7 {
  max-width: 100%;
  /* width: calc(91%/2); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}

.page7 .page5-box {
  padding-bottom: 3%;

}

.page7 .page5-box .box {
  width: calc(91%/2);

}

.page7 .page2{

}

.page7 p {
  width: 65%;
}

.page8 {
  margin-top: 3%;
  text-align: center;
}

.page8 .page2 p {
  width: 68%;
}

.page9 {
  width: 100%;
  background-color: #F6F6F6;
  text-align: center;
  font-family: "Montserrat";

}

.page9 h2 {
  font-size: 3vw;
  font-weight: 400;
  /* background-color: red; */
  padding-top: 4%;
  padding-bottom: 2%;
}


.page9 p {
  padding: 0 2%;
  font-size: 1.3vw;
}

.page9-img-box {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 4%;
  padding-bottom: 6%;

}


.page9-img-box1 {
  max-width: calc(91%/2);
}

.page9-img-box1 img {
  max-width: 100%;
}

.page9-img-box1 h2 {
  font-size: 1.85vw;
  font-weight: bold;
}

.page9-img-box1 p {
  font-size: 1.19vw;
  line-height: 1.4;
}

.page10 {
  max-width: 100%;
  /* background-color: red; */
  text-align: center;
  font-family: "Montserrat";
  padding-bottom: 3%;

}

.page10 h2 {
  margin-top: 4%;
  margin-bottom: 2%;
  font-weight: 400;
  font-size: 3vw;
}

.page10-img-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2%;
}

.page10-img-box1 {
  max-width: calc(85%/4);
}

.page10-img-box1 img {
  max-width: 100%;
}

.page10-img-box1 h5 {
  font-size: 1.5vw;
  padding-top: 8%;
  padding-bottom: 5%;
  font-weight: 900 !important;
  /* background-color: blue; */
  /* padding: 0 5%; */

}

.page10-img-box1 p {
  font-size: 1.04vw;
  line-height: 1.2;
}

.page11 {
  width: 100%;
  /* background-color: red; */
  text-align: center;
  font-family: "Montserrat";
}

.page11 h2 {
  padding-bottom: 3%;
}

.page11-img-box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* background-color: black; */
  margin-bottom: 5%;

}

.page11-img-box-1 {
  width: calc(88%/3);
  /* background-color: red; */
  border: 1px solid #000;
  /* padding: 0%; */
  line-height: 2;
  /* padding-bottom: 3%; */
}

.page11-img-box-1 p {
  font-size: 1.2vw;
}

.page11-img-box-1 img {
  max-width: 100%;
}

#page11-button {
  margin-top: 7%;
}

/* .page11 .page2{
  margin-top: 3%;
} */

.spacer {
  height: 20vh;
}


@media screen and (max-width: 890px) {

  .banner-heading h1 {
    font-size: 50px;
    /* background-color: red; */
  }

  .banner-button button {
    font-size: 2.2vw;
    width: calc(91%/2);
    text-align: center;
    /* background-color: blue; */
    font-weight: 700;
  }

  .page1-1 {
    width: 100%;
    /* background-color: blue; */
    padding-top: 2%;
  }


  .col {
    width: calc(91%/2);
    /* background-color: red; */
    font-size: 22px;
    line-height: 1.8;
  }

  .col h3 {
    font-weight: 600;
    /* margin-top: 2%; */
  }

  .col h2 {
    font-weight: 600;
    font-size: 30px;
  }

  .page1-2 {
    width: 100%;
  }

  .page-1-2-inner {
    max-width: 100%;
  }

  .page-1-2-inner {
    max-width: 100%;
  }

  .page1-2-inner h2 {
    font-size: 4.5vw;
    font-weight: 400;
  }

  .page1-2-inner img {
    max-width: 80%;
  }

  .page1-2-inner p {
    max-width: 100%;
    padding-inline: 8%;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.3;
  }

  .page2 {
    max-width: 100%;

  }

  .page2 button {
    font-size: 20px;
    font-weight: 700;
    padding-inline: 11%;
    margin-bottom: 10%;
  }

  .page2 h2 {
    font-size: 35px;
  }

  .page2 p {
    width: 80%;
    font-size: 18.5px;
    padding-inline: 3%;
  }

  .page2-img2 {
    width: 77%;
  }

  .page3 {
    max-width: 100%;
  }

  .page3-1 p {
    width: 88%;
    font-size: 2.6vw;
  }

  .page3-1 h2 {
    font-size: 5vw;
  }

  /* .page3-2 {
    /* text-align: center; */


  .page3-2 img {
    width: 100%;
  }

  /* 
  .img-box{
  max-width: 100%;
  } */

  /* .img-box img{

    width: 100%;
  } */

  .img-box h2 {
    width: 100%;
    /* text-align: center; */
    margin-top: 5%;
    margin-bottom: 5%;
    /* background-color: red; */
    font-size: 30px;
    line-height: 1.8;
  }


  .page4 h2 {
    font-size: 5vw;
  }

  #page4-1-button {
    padding: 2% 12%;
    font-size: 20px;
    font-weight: 700;

  }

  .page5-box .box {
    width: calc(91%/2);
  }

  .box h5 {
    font-size: 2.8vw;
    font-weight: 400;

  }

  .box h3 {
    font-size: 3.5vw;
    font-weight: 500;
    /* background-color: red; */
    padding-inline: 1.5%;

  }

  .box h6 {
    font-size: 2.5vw;
  }

  .page5 .page2 p {
    width: 70%;
    font-size: 3vw;
  }

  .page7 .page5-box {
    margin: auto;
  }

  .page7 .page5-box .box {
    width: 94%;
    line-height: 0;
    padding-bottom: 3%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  }

  .page9-img-box1 h2 {
    font-size: 3.5vw;
  }

  .page9-img-box1 p {
    font-size: 2.5vw;
  }

  .page10 h2 {
    font-size: 5vw;
  }

  .page10-img-box {
    width: 100%;
  }

  .page10-img-box1 {
    max-width: calc(91%/2);
  }

  .page10-img-box1 h5 {
    font-size: 3.5vw;
    font-weight: 600 !important;
  }

  .page10-img-box1 p {
    font-size: 2.2vw;
    padding-bottom: 5%;
  }

  .page11 h2 {
    font-size: 35px;
    font-weight: 400;
  }

  /* .page11-img-box {
   width:100%;
  } */

  .page11-img-box-1{
  width: calc(91%/2);
  margin-bottom: 3%;
  }
/*   
  .page11-img-box1 img{
    width: 100%;
  } */

}